av==9.2.0
fast-autocomplete==0.9.0
gTTS==2.3.0
joblib==1.1.0
Levenshtein==0.20.8
mediapipe==0.8.10.1
next-word-prediction==0.2.0
numpy==1.23.3
opencv-contrib-python==4.5.5.62
pydub==0.25.1
python-Levenshtein==0.20.8
pytorch-transformers==1.2.0
requests==2.28.1
scipy==1.9.2
streamlit==1.15.2
streamlit-webrtc==0.44.0
stt==1.4.0
scikit-learn==0.24.2
tensorflow==2.11.0
torch==1.13.0
tqdm==4.64.1
transformers==4.25.1
Pillow==9.2.0
